@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  color: rgb(48, 112, 121);
  text-transform: capitalize;
}

h3 {
  color: rgb(66, 112, 97);
  text-transform: lowercase;
}
.images {
  text-align: center;
  text-transform: capitalize;
  width: 80vw;
  margin: 0 auto 10rem auto;
}
.single-image {
  border: 3px solid red;
  padding: 1rem 0;
}
.single-product {
  width: 90vw;
  max-width: 1170;
  margin: 3rem auto;
}
@media screen and (min-width: 768px) {
  .single-product {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }
}
